<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	 <meta charset="UTF-8" />
    <th:block th:include="header :: head"></th:block>

    <link rel="stylesheet" th:href="@{/css/catalogs/styles.css}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <div th:replace="header :: header"></div>

    <!-- Begin Breadcrumbs -->
    <div class="breadcrumb-component">
        <div class="container">
            <div id="bc1" class="btn-group btn-breadcrumb">
                <a th:href="@{/view/}" class="btn btn-default">
                    <div th:text="#{text.admin.catalogs.home}">Home</div>
                </a>
                <a id="bcModulo" th:href="@{/view/} + 'admin/catalogs/Catalogs'" class="btn btn-default">
                    <div th:text="#{text.sidebar.left.catalogs}">Catalogos</div>
                </a>
                <a id="bcModulo" th:href="@{/view/} + 'admin/catalogs/qsol'" class="btn btn-default active">
                    <div th:text="#{text.admin.catalogs.useofqsol}">Uso de Qsol</div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <div class="container" style="width: 100%; margin-top: 15px;">
        <div th:replace="admin/Admin :: menu"></div>
        
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div th:replace="admin/catalogs/Catalogs :: menuCatalogs" ></div>
            <div style="margin-top: 25px;">
                <CATS-root></CATS-root>
				<!-- INCLUDES JS CATALOGS -->
				<th:block th:include="shared/JsAngularImports :: adminCatalogs"></th:block>
            </div>
        </div>
    </div>

    <div th:replace="footer :: footer"></div>

</body>

</html>