<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>Dealer Evaluation System</title>
    <!-- Metadata - Customize for your product -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Cummins Inc." />
    <meta name="copyright" content="(C)2015 Cummins Inc., Box 3005, Columbus, IN 47202-3005 U.S.A." />

    <!-- Global CSS & Favicon -->
    <link rel="stylesheet" th:href="@{/bootstrap3/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/cmi.css}" />
    <link rel="shortcut icon" th:href="@{/img/navigation/favicon.ico}" />

    <!-- Page Specific CSS -->
    <link rel="stylesheet" th:href="@{/css/cmmi_components.css}" />
    <link rel="stylesheet" th:href="@{/css/material-css.css}" />
    <link rel="stylesheet" th:href="@{/css/material-icon.css}" />

    <script th:inline="javascript">
        window.cummins = {
            wwid: /*[[${wwid}]]*/ '',
            isAdmin: /*[[${isAdmin == '1'} ? true:false]]*/ '',
        };
    </script>



</head>

<body>

    <div th:fragment="header">
        <!-- Begin Top Wrapper -->
        <div th:fragment="logout" class="top">
            <!-- Begin Global Container -->
            <div class="container" style="margin-left:0px; width:auto; margin-right:5px">
                <!-- Begin Responsive Container -->
                <div id="global-buttons" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Begin Global Navigation Bar -->
                    
                    <div th:replace="shared/dropDownLanguage :: dropDownLanguage"></div>
                    
                    <!-- End Global Navigation Bar -->
                </div>
                <!-- End Responsive Container -->
            </div>
            <!-- End Global Container -->
        </div>
        <!-- End Top Wrapper -->

        <!-- Begin Header Section -->
        <div class="header">
            <!-- Begin Container Section -->
            <div class="container">
                <!-- Begin Full Size Navbar -->
                <div class="navbar-header">
                    <div class="logo col-sm-4 col-md-4 col-lg-4">
                        <div class="logo_img">
                            <img th:src="@{/img/navigation/cummins_logo.png}" alt="logo" />
                        </div>
                        <div class="sub-brand">
                            <h2>Dealer Evaluation System</h2>
                        </div>
                    </div>
                    <div class="row col-lg-8 col-md-8 col-sm-8">
                   <!-- 
                   Rol 1 = Adm
                   Rol 2 = DR
                   Rol 3 = Lectura
                    -->
                    <nav class="main_menu">
                        <ul id="nav" class="pull-right" style="padding-left: 0px;">
                            <li th:if="${Rol == '1' || Rol == '2' || Rol == '3'}" class="divider"></li>
                            <li th:if="${Rol == '1' || Rol == '2' || Rol == '3'}"><a th:href="@{/view/} + 'scd/acceso/Acceso'" th:text="#{text.nav.scd}">SCD</a></li>
                            <li th:if="${Rol == '1'}" class="divider"></li>
                            <li th:if="${Rol == '1'}"><a th:href="@{/view/} + 'admin/Procesos'" th:text="#{text.nav.infant}">INFANT CARE</a></li>
                            <li th:if="${Rol == '1'}" class="divider"></li>
                            <!-- Rol == '1'  isAdmin == '1'-->
                            <!-- Quejas -->
                            <li th:if="${Rol == '1' || Rol == '4'}"><a th:href="@{/view/} + 'Complaints/complaints'" th:text="#{text.nav.complaints}">QUEJAS</a></li>
                            <li th:if="${Rol == '1' || Rol == '4'}" class="divider"></li>
                            
                            
                            <li th:if="${Rol == '1'}"><a th:href="@{/view/} + 'admin/Admin'" th:text="#{text.nav.administration}">ADMINISTRACIÓN</a></li>
                            <li th:if="${Rol == '1'}" class="divider"></li>
                        </ul>
                    </nav>
                    </div>
           
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </div>
                
                <!-- End Full Size Navbar -->
            </div>
            <!-- End Container Section -->
        </div>
        <!-- End Header Section -->
    </div>

</body>

</html>