<!-- @author ALEJANDRO HDZ- TRANSOM-GROUP
	 @since 11-06-2021 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>


	
			<!--INCLUDES JS CATALOGS -->
			<div th:fragment="adminCatalogs">
				<script th:src="@{/js/catalog/runtime.js}" type="module"></script>                
                <script th:src="@{/js/catalog/polyfills.js}" type="module"></script>
                <script th:src="@{/js/catalog/main.js}" type="module"></script>
                <script th:src="@{/js/catalog/0.js}" type="module"></script>
                <script th:src="@{/js/catalog/5.js}" type="module"></script>
                <script th:src="@{/js/catalog/6.js}" type="module"></script>
                <script th:src="@{/js/catalog/7.js}" type="module"></script>
                <script th:src="@{/js/catalog/8.js}" type="module"></script>
                <script th:src="@{/js/catalog/9.js}" type="module"></script>
                <script th:src="@{/js/catalog/10.js}" type="module"></script>
                <script th:src="@{/js/catalog/11.js}" type="module"></script>
                <script th:src="@{/js/catalog/12.js}" type="module"></script>
                <script th:src="@{/js/catalog/13.js}" type="module"></script>
                <script th:src="@{/js/catalog/14.js}" type="module"></script>
                <script th:src="@{/js/catalog/15.js}" type="module"></script>
			</div>
			
			<!--INCLUDES JS CONFIGURATION -->
			<div  th:fragment="adminConfiguration">
				<script th:src="@{/js/configuration/runtime.js}" type="module"></script>                
                <script th:src="@{/js/configuration/polyfills.js}" type="module"></script>
                <script th:src="@{/js/configuration/main.js}" type="module"></script>
                 <script th:src="@{/js/configuration/1.js}" type="module"></script>
                <!-- <script th:src="@{/js/configuration/4.js}" type="module"></script>
                <script th:src="@{/js/configuration/5.js}" type="module"></script>-->
                <script th:src="@{/js/configuration/6.js}" type="module"></script>
                <script th:src="@{/js/configuration/7.js}" type="module"></script>
                <script th:src="@{/js/configuration/8.js}" type="module"></script>
			</div>

			<div  th:fragment="adminInformationLoad">
				<script th:src="@{/js/informationLoad/runtime.js}" type="module"></script>                
                <script th:src="@{/js/informationLoad/polyfills.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/main.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/0.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/1.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/10.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/11.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/12.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/13.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/14.js}" type="module"></script>
                <!--  <script th:src="@{/js/informationLoad/2.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/6.js}" type="module"></script>-->
                <script th:src="@{/js/informationLoad/7.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/8.js}" type="module"></script>
                <script th:src="@{/js/informationLoad/9.js}" type="module"></script>
			</div>

			<div  th:fragment="adminPartsAndTools">
				<script th:src="@{/js/partsAndTools/runtime.js}" type="module"></script>                
                <script th:src="@{/js/partsAndTools/polyfills.js}" type="module"></script>
                <script th:src="@{/js/partsAndTools/main.js}" type="module"></script>
                <script th:src="@{/js/partsAndTools/0.js}" type="module"></script>
                <!--  <script th:src="@{/js/partsAndTools/1.js}" type="module"></script>-->
                <script th:src="@{/js/partsAndTools/2.js}" type="module"></script>
                <!--  <script th:src="@{/js/partsAndTools/4.js}" type="module"></script>
                <script th:src="@{/js/partsAndTools/5.js}" type="module"></script>
                <script th:src="@{/js/partsAndTools/6.js}" type="module"></script>-->
                <script th:src="@{/js/partsAndTools/7.js}" type="module"></script>
                <script th:src="@{/js/partsAndTools/8.js}" type="module"></script>
                <script th:src="@{/js/partsAndTools/9.js}" type="module"></script>
			</div>
			
			<div th:fragment="adminAccessControl">
				<script th:src="@{/js/accessControl/runtime.js}" type="module"></script>                
                <script th:src="@{/js/accessControl/polyfills.js}" type="module"></script>
                <script th:src="@{/js/accessControl/main.js}" type="module"></script>
                <script th:src="@{/js/accessControl/4.js}" type="module"></script>
			</div>
			
			<div th:fragment="complaints">
				<script th:src="@{/js/complaints/runtime.js}" type="module"></script>                
                <script th:src="@{/js/complaints/polyfills.js}" type="module"></script>
                <script th:src="@{/js/complaints/main.js}" type="module"></script>
                <script th:src="@{/js/complaints/4.js}" type="module"></script>
			</div>


	</body>
</html>